@media (min-width: 320px) {
  .advantages {
    position: relative;
    width: 320px;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    &:after {
      content: "";
      display: block;
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center top;
      bottom: 0;
      width: 158px;
      height: 277px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }
  }

  .advantages__item {
    padding: 10px;
  }

  .advantages__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: @colorFont;
    margin-bottom: 14px;
    margin-top: 0;
  }

  .advantages__text {
    font-size: 14px;
    line-height: 24px;
    color: @fontColorHeader;
    margin: 0;
  }

  .advantages {
    &:before {
      position: absolute;
      content: "";
      background: @backgroundColor url("../img/bg-triangle-white.svg") no-repeat center top;
      background-size: 100% 31px;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

    }
  }
}


@media (min-width: 660px) {
  .advantages {
    position: relative;
    width: 660px;
    box-sizing: border-box;
  }
  .advantages {
    &:after{
      content: "";
      position: absolute;
      background: url(../img/iphone-screen-3-tablet@1x.png) no-repeat;
      background-size: contain;
      width: 268px;
      height: 481px;
    }
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 50%;
    text-align: left;
    padding-bottom: 42px;
  }
}

@media (min-width: 960px) {
  .advantages {
    width: 960px;
    display: flex;
    flex-direction: row;
  }

  .advantages {
    &:after {
      display: none;
    }
  }

  .advantages__item {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 375px 30px 67px;
  }

  .advantages__item--mood {
    &:after {
      position: absolute;
      content: "";
      background: url(../img/iphone-screen-1-desktop@1x.png) no-repeat;
      width: 250px;
      height: 300px;
      top: 0;
    }
  }

  .advantages__item--world {
    &:after {
      position: absolute;
      content: "";
      background: url(../img/iphone-screen-2-desktop@1x.png) no-repeat;
      width: 250px;
      height: 300px;
      top: 0;
    }
  }

  .advantages__item--friends {
    &:after {
      position: absolute;
      content: "";
      background: url(../img/iphone-screen-3-desktop@1x.png) no-repeat;
      width: 250px;
      height: 300px;
      top: 0;
    }
  }

}



