@media (min-width: 320px) {

  .page-header {
    /*background: @fontColorHeader;*/
    color: @colorHeader;
  }

}


@media (min-width: 660px) {

  .page-header {
    /*background: @fontColorHeader;*/
    color: @colorHeader;
  }

}

@media (min-width: 960px) {
  .page-header {
    width: 960px;
  }

}




