@media (min-width: 330px) {

  .page-header {
    background: @fontColorHeader;
    color: @colorHeader;
  }

  .main-nav__list {
    margin: 0;
    padding: 0;
  }

  .main-nav__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 23px 0;
    margin: 0;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
  }

  .main-nav__link {
    text-decoration: none;
    color: @colorHeader;
  }

  .logo {
    position: relative;
  }

  .logo-top {
    width: 147px;
    height: 50px;
  }

  .menu-btn {
    position: absolute;
    top: 8px;
    right: 0;
    width: 45px;
    height: 26px;
    cursor: pointer;
    border: none;
    background: 0 0;
    font-size: 0;
    outline: none;
  }

  .menu-btn:before {
    position: absolute;
    top: 0;
    left: 22px;
    display: block;
    width: 2px;
    height: 24px;
    content: "";
    background: @colorHeader;
    transform: rotate(45deg);
  }

  .menu-btn:after {
    position: absolute;
    top: 0;
    left: 22px;
    display: block;
    width: 2px;
    height: 24px;
    content: "";
    background: @colorHeader;
    transform: rotate(-45deg);
  }

}

@media (min-width: 660px) {

  .page-header {
    background: @fontColorHeader;
    color: @colorHeader;
  }

  .main-nav__list {
    margin: 0;
    padding: 0;
  }

  .main-nav__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 23px 0;
    margin: 0;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
  }

  .main-nav__link {
    text-decoration: none;
    color: @colorHeader;
  }

  .logo {
    position: relative;
  }

  .logo-top {
    width: 147px;
    height: 50px;
  }

  .menu-btn {
    position: absolute;
    top: 8px;
    right: 0;
    width: 45px;
    height: 26px;
    cursor: pointer;
    border: none;
    background: 0 0;
    font-size: 0;
    outline: none;
  }

  .menu-btn:before {
    position: absolute;
    top: 0;
    left: 22px;
    display: block;
    width: 2px;
    height: 24px;
    content: "";
    background: @colorHeader;
    transform: rotate(45deg);
  }

  .menu-btn:after {
    position: absolute;
    top: 0;
    left: 22px;
    display: block;
    width: 2px;
    height: 24px;
    content: "";
    background: @colorHeader;
    transform: rotate(-45deg);
  }

}
