@media (min-width: 320px) {
  .page-footer {
    text-align: center;
    width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .logo-pink-footer {
    display: none;
  }

}

@media (min-width: 660px) {
  .page-header {
    width: 660px;
    text-align: center;
    padding-top: 45px;
  }
}