@media (min-width: 320px) {
  .promo {
    width: 320px;
    min-height: 170px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    background-color: #283645;
  }

  .promo-gallery {
    background: url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: 670px auto;
    background-position: center -61px;
  }

  .promo-block__text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }

}
  /*.promo {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat;
    background-size: cover;
    height: 236px;
    padding: 53px 6px 40px;
    box-sizing: border-box;
  }

  .promo-block__text {
    width: 235px;
    margin: 44px auto 15px;
    color: @colorHeader;
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
  }*/


@media (min-width: 660px) {
  .promo {
    background: url("../img/bg-back-tablet@2x.jpg") no-repeat top;
    background-size: cover;
  }
  .promo-block__text {
    width: 235px;
    margin: 44px auto 15px;
    color: @colorHeader;
    font-size: 24px;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
  }
}

