@media (min-width: 320px) {
  .reserch {
    margin-bottom: 50px;
  }

  .research__time-icon {
    display: none;
  }

  .research-wrapper__time {
    display: none;
  }

  .research-wrapper__text {
    display: none;
  }

  .research-wrapper__link {
    display: none;
  }
}

@media (min-width: 660px) {
  .research {
    width: 660px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .research-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  .research__time-icon {
    display: block;
    position: relative;
    width: 238px;
    height: 276px;
    margin-right: 50px;
    margin-left: 40px;
  }

  .research-wrapper__time {
    display: block;
  }

  .svg-icon {
    width: 238px;
    height: 276px;
  }

  .research__time-icon {
    &:before {
      position: absolute;
      content: "24";
      font-size: 96px;
      left: 64px;
      top: 96px;
      font-weight: 700;
      color: @colorFontNumber;

    }
  }

  .research-wrapper__text {
    display: block;
  }

  .research-wrapper__link {
    display: block;
    font-size: 14px;
    color: @colorFontNumber;
  }
}
