@media (min-width: 320px) {
  .review {
    margin: 0;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  .review__user {
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: @fontColorHeader;
  }

  .review__user-name {
    margin: 0 auto;
  }

  .review__user-age {
    display: none;
  }
}

  /*
@media (min-width: 660px) {
  .review {
    display: flex;
    flex-direction: column;
    width: 660px;
  }
  .review__user {
    font-size: 18px;
  }

  .review__user-name {
    margin-bottom: 0;
  }

  .review__user-age {
    display: block;
  }
}
/*
@media (min-width: 960px) {
  .review {
    width: 960px;
  }
}
*/
